<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Record Store</title>
</head>
<body>
    {% if albums|length > 0 %}
    <h1>Albums</h1>
    <ul class="albums_list">
    {% for album in albums %}
            <li>
            <div>
                <h2>
                    <a href="/albums/{{album.id}}" class="album_title">{{album.title}}</a>
                </h2>
                <p>Released in: {{album.release_year}}</p>
                <p>By Artist id: {{album.artist_id}}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div>
        <h3>
            <a href="/albums/new">Add a new album</a>
        </h3>
    </div>
    {% endif %}
    {% if artists|length > 0 %}
    <h1>Artists</h1>
    <ul class="artists_list">
    {% for artist in artists %}
        <li>
            <div>
                <h3>
                    <a href="/artists/{{artist.id}}" class="artist_name">{{artist.name}}</a>
                </h3>
                <p> Genre: {{artist.genre}}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
    <div>
        <h3>
            <a href="/artists/new">Add a new artist</a>
        </h3>
    </div>
    {% endif %}
</body>
</html>