<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Record Store</title>
</head>
<body>
    {% if albums|length > 0 %}
    <h1>Albums</h1>
    {% for album in albums %}
    <div>
        <h3>
            <a href="/albums/{{album.id}}">{{album.title}}</a>
        </h3>
        <p>Released in: {{album.release_year}}</p>
        <p>By Artist id: {{album.artist_id}}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div>
        <h3>
            <a href="/albums/new">Add a new album</a>
        </h3>
    </div>
    {% if artists|length > 0 %}
    <h1>Artists</h1>
    {% for artist in artists %}
    <div>
        <a href="/artists/{{artist.id}}">Name: {{artist.name}} Genre: {{artist.genre}}</a>
    </div>
    {% endfor %}
    {% endif %}
    <!-- <a href="/artists/new">Add a new book</a> -->
</body>
</html>