<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{album.title}}</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Selected Album</h1>
    <p class="t-title">Title: {{album.title}}</p>
    <p class="t-author-name">Release Year: {{album.release_year}}</p>
    <p class="t-author-name">Artist id: {{album.artist_id}}</p>
    <form action="/albums/{{album.id}}/delete" method="post">
        <input type="submit" value="Delete Album">
    </form>
    <a href="/albums">Back to all albums</a>
  </body>
</html>
